body {
    margin: 0px;
    font-family: "Lato", sans-serif;
    background-color: white;
}

h2 {
    color: darkcyan;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: darkcyan;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidebtn {
    font-family: Verdana, sans-serif;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.1s;
}

    .sidebtn:hover {
        color: white;
        background-color: rgb(51, 203, 189, 0.91);
    }

.sidenav .closebtn {
    position: absolute;
    top: -2px;
    right: 10px;
    font-size: 35px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    text-decoration: none;
    color: white;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}


span {
    font-size: 30px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: flex-start;
    min-height: 10%;
}

.content {
    border-bottom-style: solid;
    border-bottom-color: darkcyan;
    border-bottom-width: 5px;
    margin-top: 0px;
    width: 100%;
    min-height: 10%;
    overflow: hidden;
    display: flex;
}

.navbtn {
    flex-basis: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.logo {
    flex-basis: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
}

    .logo h2 {
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        font-size: 0.55em;
        color: #15317e;
    }

.topdiv {
    flex-basis: 87%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;
}

    .topdiv h2 {
        font-size: 18px;
        margin-left: 310px;
        margin-top: 55px;
    }

.resize {
    width: 108px;
    height: 52.56px;
}

.maincont {
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 600px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    background-color: white;
}

.info {
    width: 95%;
    margin: auto;
    box-shadow: 0 1px 3px 0 darkgrey,0 5px 10px 0 darkgrey;
    border-radius: 5px;
    height: 600px;
    max-height: 800px;
    overflow-y: scroll;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    text-align: left;
}

th {
    background-color: darkcyan;
    position: sticky;
    top: 0px;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th, td {
    padding: 15px;
}

#backbtn {
    margin-top: 80px;
    margin-bottom: -60px;
    width: 10%;
    border: solid #15317e;
    border-radius: 5px;
    background: #15317e;
    color: white;
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
    transition-duration: 0.2s;
}

    #backbtn:hover {
        box-shadow: 0 1px 3px 0 darkgrey,0 5px 10px 0 #15317e;
    }

.centerbtn {
    
    margin-top:-40px;
    width: 100%;
}
#containerx {
    margin: auto;
    width: 40%;
    height: 600px;
    background: white;
    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 3px 0 darkgrey,0 5px 10px 0 darkgrey;
    padding: 20px;
}


#inputcontainer {
    margin: auto;
    width: 80%;
    height: 600px;
    background: rgba(0, 0, 100%, 100%);
}

#inputcontainerprofit {
    margin: auto;
    width: 60%;
    height: 300px;
    background: rgba(0, 0, 100%, 100%);
}

.inputdiv {
    width: 100%;
}

.inputdiv2 {
    margin-bottom: -90px;
    width: 100%;
}

label {
    margin-top: 10px;
    float: left;
    color: darkcyan;
}


input {
    padding: 5px;
    border: 2px solid darkcyan;
    font-size: 17px;
    width: 100%;
    border-radius: 3px;
    height: 50px;
}

::placeholder {
    color: lightgray;
    font-size: 16px;
}
.addbtn {
    margin-top:40px;
    width: 100%;
    border-radius: 5px;
    border: solid #15317e;
    background: #15317e;
    color: white;
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
    transition-duration: 0.2s;
}

    .addbtn:hover {
        box-shadow: 0 1px 3px 0 darkgrey,0 5px 10px 0 #15317e;
    }
