body {
    font-family: "Lato", sans-serif;
    background-color: #f1f1f1;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(51, 203, 189, 0.95);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: black;
        display: block;
        transition: 0.2s;
    }

        .sidenav a:hover {
            color: #15317e;
            background-color: white;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 8px;
    }


        .sidenav .closebtn:hover {
            background-color: rgb(51, 203, 189, 0.91);
        }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}


span {
    font-size: 30px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: flex-start;
    background-color: yellow;
    min-height: 10%;
}

.content {
    width: 100%;
    min-height: 10%;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
}

.navbtn {
    flex-basis: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.logo {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
}

    .logo h2 {
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        font-size: 0.8em;
        color: #15317e;
    }

.topdiv {
    flex-basis: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
}

.resize {
    width: 120px;
    height: 58.4px;
}

.maincont {
    margin: auto;
    justify-content: center;
    align-items: center;
    min-height: 88vh;
    padding-top: 40px;
    text-align: center;
    width: 50%;
}

.modulesdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(51, 203, 189, 0.91);
}

table, td, th {
    border: 1px solid black;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}
